<p>Installing the Gem

The Twitter Bootstrap Rails gem can provide the Bootstrap stylesheets in two ways.

The plain CSS way is how Bootstrap is provided on the official website.

The Less way provides more customization options, like changing theme colors, and provides useful Less mixins for your code, but requires the Less gem and the Ruby Racer Javascript runtime (not available on Microsoft Windows).</p>